<div class="juego-container">
    <h1>JUEGO DEL AHORCADO</h1>
    <img [src]="imagenAhorcado" class="ahorcado-image">
    <p>{{ mensaje }}</p>
    <p>Palabra a adivinar: <span>{{ palabraMostrada }}</span></p>
    <p class="intentos-restantes">Intentos restantes: <span>{{ intentosRestantes }}</span></p>
    <p class="letras-intentadas">Letras intentadas: <span>{{ letrasIntentadas.join(', ') }}</span></p>
    <div *ngIf="mensaje !== '¡Ganaste!' && mensaje !== '¡Perdiste!'">
        <p>INTENTA CON UNA LETRA:</p>
        <input type="text" #letraInput (keyup.enter)="intentar(letraInput.value.toUpperCase())">
        <button (click)="intentar(letraInput.value.toUpperCase())">Intentar</button>
    </div>
    <button (click)="reiniciarJuego()">Reiniciar Juego</button>
</div>